In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("PN_voucher_redemption_201805201656.csv")
df.head()

   PN32  PN33  PN34  PN35  PN36  PN37  count
0     0     0     0     0     0     1   5709
1     0     0     0     0     1     0   4838
2     0     0     0     0     1     1   1160
3     0     0     0     1     0     0   6454
4     0     0     0     1     0     1   1017

In [32]:
periods = list(df.columns)[:-1]
periods

['PN32', 'PN33', 'PN34', 'PN35', 'PN36', 'PN37']

In [33]:
segments = {
    col: list(df[col].unique()) for col in periods
}
segments

{'PN32': [0, 1],
 'PN33': [0, 1],
 'PN34': [0, 1],
 'PN35': [0, 1],
 'PN36': [0, 1],
 'PN37': [1, 0]}

In [34]:
df.values.tolist()

[[0, 0, 0, 0, 0, 1, 5709],
 [0, 0, 0, 0, 1, 0, 4838],
 [0, 0, 0, 0, 1, 1, 1160],
 [0, 0, 0, 1, 0, 0, 6454],
 [0, 0, 0, 1, 0, 1, 1017],
 [0, 0, 0, 1, 1, 0, 1312],
 [0, 0, 0, 1, 1, 1, 653],
 [0, 0, 1, 0, 0, 0, 7546],
 [0, 0, 1, 0, 0, 1, 1121],
 [0, 0, 1, 0, 1, 0, 989],
 [0, 0, 1, 0, 1, 1, 444],
 [0, 0, 1, 1, 0, 0, 1736],
 [0, 0, 1, 1, 0, 1, 540],
 [0, 0, 1, 1, 1, 0, 650],
 [0, 0, 1, 1, 1, 1, 484],
 [0, 1, 0, 0, 0, 0, 7871],
 [0, 1, 0, 0, 0, 1, 1391],
 [0, 1, 0, 0, 1, 0, 898],
 [0, 1, 0, 0, 1, 1, 446],
 [0, 1, 0, 1, 0, 0, 1160],
 [0, 1, 0, 1, 0, 1, 537],
 [0, 1, 0, 1, 1, 0, 421],
 [0, 1, 0, 1, 1, 1, 375],
 [0, 1, 1, 0, 0, 0, 1912],
 [0, 1, 1, 0, 0, 1, 718],
 [0, 1, 1, 0, 1, 0, 531],
 [0, 1, 1, 0, 1, 1, 464],
 [0, 1, 1, 1, 0, 0, 706],
 [0, 1, 1, 1, 0, 1, 507],
 [0, 1, 1, 1, 1, 0, 393],
 [0, 1, 1, 1, 1, 1, 623],
 [1, 0, 0, 0, 0, 0, 6313],
 [1, 0, 0, 0, 0, 1, 751],
 [1, 0, 0, 0, 1, 0, 926],
 [1, 0, 0, 0, 1, 1, 402],
 [1, 0, 0, 1, 0, 0, 1216],
 [1, 0, 0, 1, 0, 1, 401],
 [1, 0, 0, 1, 1, 0, 555],
 [1, 0, 0, 1, 1, 1, 436],
 [1, 0, 1, 0, 0, 0, 1184],
 [1, 0, 1, 0, 0, 1, 427],
 [1, 0, 1, 0, 1, 0, 378],
 [1, 0, 1, 0, 1, 1, 280],
 [1, 0, 1, 1, 0, 0, 645],
 [1, 0, 1, 1, 0, 1, 387],
 [1, 0, 1, 1, 1, 0, 455],
 [1, 0, 1, 1, 1, 1, 554],
 [1, 1, 0, 0, 0, 0, 1645],
 [1, 1, 0, 0, 0, 1, 568],
 [1, 1, 0, 0, 1, 0, 466],
 [1, 1, 0, 0, 1, 1, 351],
 [1, 1, 0, 1, 0, 0, 574],
 [1, 1, 0, 1, 0, 1, 496],
 [1, 1, 0, 1, 1, 0, 440],
 [1, 1, 0, 1, 1, 1, 661],
 [1, 1, 1, 0, 0, 0, 818],
 [1, 1, 1, 0, 0, 1, 508],
 [1, 1, 1, 0, 1, 0, 364],
 [1, 1, 1, 0, 1, 1, 559],
 [1, 1, 1, 1, 0, 0, 596],
 [1, 1, 1, 1, 0, 1, 723],
 [1, 1, 1, 1, 1, 0, 682],
 [1, 1, 1, 1, 1, 1, 1919]]